In [151]:
import pandas as pd
import numpy as np

df = pd.read_csv('agency.csv', header=0)
df.replace('*', '', inplace=True)

blah = df.loc[:, ((df.columns != 'Date') ^ (df.columns != 'AssetClass') ^ (df.columns !='AssetClassSubType'))].apply(pd.to_numeric) 
df = pd.concat((df['AssetClass'], df['AssetClassSubType'], blah, df['Date']), axis=1)

agency_trades = df.groupby('Date').sum()
agency_trades = agency_trades[['FNMATradeCount','FHLMCTradeCount', 'GNMATradeCount', 'OtherTradeCount']]

In [158]:
import pandas as pd

trading_date = '20190102'
trading_date = '{}/{}/{}'.format(trading_date[4:6], trading_date[6:], trading_date[:4])

month_list = {'January': '01', 'February': '02', 'March': '03', 'April': '04', 'May': '05', 'June': '06',
             'July': '07', 'August': '08', 'September': '09', 'October': '10', 'November': '11', 'December': '12'}
price_fields = ['AVERAGE PRICE', 'WEIGHTED AVG. PRICE', 'AVG. PRICE BOTTOM 5 TRADES', '2ND QUARTILE PRICE',
                '3RD QUARTILE PRICE', '4TH QUARTILE PRICE', 'AVG. PRICE TOP 5 TRADES', 'STANDARD DEVIATION', 
                'VOLUME OF TRADES (000\'S)', 'NUMBER OF TRADES']



df = pd.read_excel('FINRA_IDS_PXTABLES-20190102.xlsx', sheet_name='TBA', skiprows=8, header=None)
df[0] = df[1].where(~df[1].isin(price_fields)).fillna(method='ffill')

#let's slice off the bottom part of this based on when the footnotes start - this is a variable line sheet
df = df.loc[:df[df[0].str.contains('Indicates')].index.values[0]-2]

#let's pull out the settlement dates
df[9] = df[0].where(df[0].str.contains('Settlement')).fillna(method='ffill')

df[10] = df[0].where(df[0].str.contains('PRICING TABLE')).fillna(method='ffill')
new = df[10].str.split(' - ', expand=True)
df[11] = new[0]
df[12] = new[1]
df.drop(10, axis=1, inplace=True)
df[11] = df[11].str.replace('PRICING TABLE: ', '')
df = df[~(df[0] == df[1])]
df.columns = ['Agency', 'Measure', '<=2.5', '3', '3.5', '4', '4.5', '5', '>5.0', 'SettlementMonth', 
              'AssetType', 'AssetType2']
df['SettlementMonth'] = df['SettlementMonth'].str.replace(' Settlement', '')
df['SettlementMonth']

4      January
5      January
6      January
7      January
8      January
9      January
10     January
11     January
12     January
13     January
15     January
16     January
17     January
18     January
19     January
20     January
21     January
22     January
23     January
24     January
26     January
27     January
28     January
29     January
30     January
31     January
32     January
33     January
34     January
35     January
        ...
264      April
265      April
266      April
267      April
268      April
269      April
270      April
271      April
272      April
273      April
275      April
276      April
277      April
278      April
279      April
280      April
281      April
282      April
283      April
284      April
286      April
287      April
288      April
289      April
290      April
291      April
292      April
293      April
294      April
295      April
Name: SettlementMonth, Length: 248, dtype: object