In [158]:
import pandas as pd
import numpy as np

df2 = pd.read_csv('tbaprices.csv', header=0)
# get rid of stars, get rid of 0s
df2.replace('*', '', inplace=True)
df2.replace('0', '', inplace=True)
df2['Date'] = pd.to_datetime(df2['Date'])

# convert coupons to numbs
coupons = ['<=2.5', '3', '3.5', '4', '4.5', '5', '>5.0']
df2[coupons] = df2[coupons].apply(pd.to_numeric)
df2 = df2.replace(np.NaN, '')

In [181]:

temp = df2[df2['Measure'] == 'AVERAGE PRICE']
temp = temp[temp['AssetClassSubType'] == 'SINGLE FAMILY 15Y']
temp = temp[temp['SettlementDateChart'] == 'Current Month']
temp = temp.set_index(['Date','Agency']).unstack(level=1)['3']

temp['FNMA']

Date
2019-01-02     99.9
2019-01-03    100.1
2019-01-04      100
2019-01-07     99.9
2019-01-08     99.7
2019-01-09     99.7
2019-01-10     99.7
2019-01-11     99.8
2019-01-14     99.7
2019-01-15     99.7
2019-01-16
2019-01-17
2019-01-18
2019-01-22
2019-01-23
2019-01-24
2019-01-25
2019-01-28
2019-01-29
2019-01-30
2019-01-31
2019-02-01     99.9
2019-02-04     99.7
2019-02-05     99.9
2019-02-06     99.9
2019-02-07      100
2019-02-08      100
2019-02-11      100
2019-02-12     99.9
2019-02-13     99.9
              ...
2019-03-19      NaN
2019-03-20      NaN
2019-03-21      NaN
2019-03-22      NaN
2019-03-25      NaN
2019-03-26      NaN
2019-03-27      NaN
2019-03-28      NaN
2019-03-29      NaN
2019-04-01      NaN
2019-04-02      NaN
2019-04-03      NaN
2019-04-04      NaN
2019-04-05      NaN
2019-04-08      NaN
2019-04-09      NaN
2019-04-10      NaN
2019-04-11      NaN
2019-04-12      NaN
2019-04-15      NaN
2019-04-16      NaN
2019-04-17      NaN
2019-04-18      NaN
2019-04-22      NaN
2019-04-23      NaN
2019-04-24      NaN
2019-04-25      NaN
2019-04-26      NaN
2019-04-29      NaN
2019-04-30      NaN
Name: FNMA, Length: 82, dtype: object